.select {
  color: #1a1a1a;
  font-size: 1rem;
  padding: 0.5rem 0.33rem;
  background-color: #fff;
  border: 1px solid #1a1a1a;
  cursor: pointer;
}

.select:hover {
  box-shadow: inset 0 0 0 1px #1a1a1a;
}

.select--open {
  box-shadow: inset 0 0 0 1px #1a1a1a;
}
